<div class="searchBar">
    <div class="container">
        <form action="/search" class="search__form" role="search" method="POST">

            <input type="search"
            aria-label="Search"
            id="searchInput"
            name="searchTerm"
            placeholder="Look for messages...">

        </form>
        <div id="searchClose">
            
            <img class="x-close-icon" src="/img/icons/icons8-x-100_white.png" alt="x icon">
        
        </div>
    </div>
</div>