<p class="para-about ">
    Welcome to Mini Messageboard!
    <br>

    About Us:

    Mini Messageboard is a simple and interactive platform designed for sharing messages in a fun and engaging way.
    Whether you want to say a quick hello or share an exciting thought, this message board is the perfect place to
    connect with others.
    <br>
    Our Mission:

    At Mini Messageboard, our mission is to provide a space where users can express themselves freely and connect with
    like-minded individuals. We believe in the power of communication and the joy of sharing thoughts with a global
    community.


    <br>
    Thank you for being a part of the Mini Messageboard community!

    Happy messaging!


</p>