<div>

<h3>Recent Messages</h3>
<div>
    <p>message one</p> 
    <p>message two</p>
    <p>message three</p>
</div>
<hr>
<div class="user-message-button-container">
    <div class="user-message-container">
        <p>User: <span>lsardan</span>
        </p>
        <p>Message: <span>here is your message:</span></p>

    </div>
    <button class="btn">Send</button>
</div>
</div>