<div class="container-messages-general">

    <h3>Recent Messages</h3>
    <div class="messages-container">
        <p>message one</p>
        <p>message two</p>
        <p>message three</p>
        <p>message one</p>
        <p>message two</p>
        <p>message three</p>
        <p>message one</p>
        <p>message two</p>
        <p>message three</p>
        <p>message one</p>
        <p>message two</p>
        <p>message three</p>
    </div>
 
    <div class="user-message-button-container">
        <div class="user-message-container">
            <div>
                <input placeholder="Username..." />
            </div>
            <div>
                <input placeholder="Message..." />
            </div>
        </div>
        <div class="user-message-container-btn">
        <button class="btn-send">Send</button>

       </div>
    </div>
</div>