<div>
    <h1 class="message_h1">Message:</h1>
<hr>
<h2 class="username"><%= data.username.toUpperCase() %></h2>
<article class="username-para">
<%= data.message %>
</article>

<a href="/" class="back_to_message">Back to Messages</a>

</div>