<div class="container-messages-general">  
    <div class="messages-container">
        <% data.forEach(message=> { %>
            <div class="messages-container-inner">
                <li>
                    <a class="meessage_link" href="/message/<%= message._id %>">
                        <p class="username-para">
                            <%= message.username.toUpperCase() %>
                        </p>
                        <p class="message-para">
                            <%= message.message %>
                        </p>
                        <p class="date-para">
                            <%= message.createdAt.toDateString() %>
                        </p>
                    </a>
                </li>
            </div>
            <% }) %>                


    </div>
</div>