@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Inter:wght@400;500;600&family=Lato:wght@300;400&family=Montserrat:wght@700&family=Poppins:wght@300;600&family=Roboto:wght@300;400;500;700&family=VT323&family=Vina+Sans&display=swap");

:root {
  --black: #1c1c1c;
  --gray: #7e7e7e;
  --gray-light: #e4e4e4;
  --red: #b30000;
  --font-size-base: 1.5rem;
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --border-radius: 10px;
  --box-shadow: 2px 2px 2px 2px rgb(179, 179, 179);
  --upper-box-shadow: 2px 2px 2px 4px rgb(84, 84, 84);
  --main-background: #faf5ee;
  --background-rgb: rgb(94, 169, 145);
  --font-family: "VT323", monospace;
  --blue-rgb: 33 150 243;
  --primary-rgb: var(--blue-rgb);
}

body {
  font-family: var(--font-family);
  font-weight: 700;
  color: var(--black);
  font-size: var(--font-size-base);
  margin: 0;
  margin-bottom: 75px;
  text-align: center;
}

body {
  width: 950px;
  background-color: var(--background-rgb);
}

.main {
  display: flex;
  justify-content: center;
  width: 720px;
  height: 370px;
  background-repeat: no-repeat;
  background-image: url("/img/monitor.png");
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  padding: 20px 0;
}
.main-overlay {
  width: 540px;
  margin-right: 5px;
  margin-left: 17px;
  margin-top: 5px;
  height: 350px;
  border-radius: 10px;
  border: 2px solid rgb(228, 222, 198);
  background: linear-gradient(
    rgb(var(--primary-rgb) / 0.15),
    rgb(var(--primary-rgb) / 0.15) 3px,
    transparent 3px,
    transparent 9px
  );
  background-size: 100% 9px;

  animation: pan-overlay 22s infinite linear;
  position: absolute;
}
hr{
border: 1px solid beige;
}
.para-about {
  padding: 20px 20px 10px 10px;
  overflow: scroll;
  margin-top: -12px;
  height: 300px;
}
/* Corrected the keyframes name */
@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 0% -100%;
  }
}

a {
  color: var(--black);
}
h1 {
  font-size: var(--font-size-xl);
}
h2 {
  font-size: var(--font-size-lg);
}
h3 {
  font-size: var(--font-size-md);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
  font-size: 1rem;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.7rem 0.75rem;
  margin-bottom: 1rem;
}

.btn {
  background-color: var(--black);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-delete {
  padding: 10px 16px;
  background-color: var(--red);
}

img {
  width: 100%;
  height: auto;
}

/* Layout */
.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Hero Section */
.hero-image {
  max-height: 528px;
  filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25));
  overflow: fit;
  border-radius: var(--border-radius);
}

/* Main Header */
.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "logo button"
    "menu menu";
  padding-top: 10px;
}

.header {
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "logo menu button";
}

.header__logo {
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
  grid-area: logo;
}

.header__logo:hover {
  text-decoration: underline;
}

.header__nav {
  justify-content: center;
  display: flex;
  grid-area: menu;
}
.header__logo__admin,
.header__logo_poems {
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
  grid-area: logo;
}

.header__logo,
.header__nav,
.header__button,
.header__logo__admin,
.header__logo_poems {
  width: 100%;
}

.header__button {
  display: flex;
  justify-content: end;
  grid-area: button;
}

.header__button button {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  border: 0;
  padding: 6px 12px;
  background: none;
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 1rem;
  font-weight: 600;
  color: var(--black);
}

.header__button button:hover {
  border: 2px solid var(--black);
}

/* Header -> Navigation */
.header__nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  padding: 0;
}

.header__nav ul a {
  padding: 10px;
  text-decoration: none;
}

.header__nav ul a.active {
  color: #7e7e7e;
}

.header__nav ul a:hover {
  text-decoration: underline;
}

/* Author - HomePage */
.author {
  padding: 10px 0;
  text-align: center;
}

.author__heading {
  margin-top: 10px;
  margin-bottom: 5px;
}

.author__body {
  font-size: var(--font-size-md);
  margin: 5px 0 40px 0;
}

/* Home Article List */
.articles__heading {
  margin-top: 4rem;
  font-weight: 400;
}

.article-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  display: flex;
  flex-direction: column;
}

.article-list__date {
  font-size: 1rem;
  color: var(--gray);
  width: 100px;
  display: inline-block;
  width: 260px;
}

.article-ul li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  margin: 18px 0;
}

.article-ul li a {
  flex-direction: row;
  align-items: center;
}

.article-list__date {
  text-align: right;
}

.article-ul li {
  font-size: 24px;
  cursor: pointer;
  transition: filter 0.1s;
}

.article-ul li:not(:last-child) {
  border-bottom: 1px solid var(--gray-light);
}

.article-ul li:hover {
  filter: none;
  scale: 1.01;
}

/* .article-ul:hover li {
  filter: blur(1px);
} */

.article-ul:hover li:hover {
  filter: none;
}

.article {
  white-space: pre-line;
  font-size: 1.2rem;
}
.post-h1 {
  font-size: 1.7rem;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-rgb);
  padding: 1rem;
  text-align: center;
  box-shadow: var(--upper-box-shadow);
}

/* Dashboard Admin */
.admin-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-posts {
  padding: 0;
  margin: 0;
}

.admin-post-controls form {
  display: inline-block;
}

.admin-post-controls .btn {
  display: inline-block;
  background-color: var(--black);
  color: var(--gray-light);
  border: 0;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 4px 8px;

  line-height: 2;
}
.admin-posts a {
  text-decoration: none;
  font-size: 1.2rem;
}
.admin-posts a:hover {
  scale: 1.02;
}
.admin-posts input:hover {
  scale: 1.02;
}

.admin-posts li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

/* SeachBar */
.searchBar {
  visibility: hidden;
  transform: translateY(-100px);
  background-color: var(--black);
  padding: 4px 0;
  position: absolute;
  left: 0;
  right: 0;
}
#searchInput {
  background-color: #1c1c1c;
  color: white;
}
.header_button {
  display: flex;
  justify-content: right;
}

.searchBar.open {
  transform: translateY(0);
  transition: transform 0.1s;
}

.searchBar input {
  margin: 0;
  border: 0;
}

#searchClose {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--gray-light);
  padding: 15px;
}

.pagination {
  font-size: 1.3rem;
  color:  black;
  text-decoration: none;
  margin-top: 40px;
  display: inline-block;
}

.pagination:hover {
  color: var(--black);
}
.x-close-icon {
  background-color: white;
  width: 2rem;
  border-radius: 50%;
}
.btn-logout {
  background-color: var(--main-background);
  border: none;
  padding: 0;
  margin: 0;
}
.btn-img-logout {
  background-color: white;
  border-radius: 20%;
  height: 30px;
}
.btn-img-logout:hover {
  scale: 1.1;
  cursor: pointer;
  border: grey solid 1px;
}
.searchBtn:hover {
  cursor: pointer;
}
.searchBtn {
  font-family: var(--font-family);
  background-color: var(--background-rgb);
  font-size: 1.2rem;
  border-radius: 4px;
}
.user-message-button-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 528px;
  bottom: 0;
  padding: 5px;
}
.user-message-container {
  flex-direction: column;
}

.user-message-container input {
  width: 415px;
  padding: 2px 0 0 0 ;
  margin: 0;
  background-color: rgba(var(--background-rgb), 0.8);

  border: none;
  font-family: "VT323", monospace;
  font-size: 1.2rem;
  color: #f8f8f8;
}
input::placeholder {
  color: #f8f8f8; /* Set the desired color */
}
input:hover,
.btn-send:hover {
  background-color: rgb(67, 104, 67);
  border-radius: 5px;
}
.user-message-button-container * {
  margin: 0;
  padding: 0;
}

.btn-send {
  width: 85px;
  height: 30px;
  border-radius: 4px;
  border: none;
  font-family: "VT323", monospace;
  font-size: 1.2rem;
  background-color: rgba(var(--background-rgb), 0.8);
  color: #f8f8f8;
}
.user-message-container-btn {
  display: flex;
  align-items: center;
}
.messages-container {
  height: 260px;
  flex-direction: column;
  align-items: center;
  display: flex;
  margin-left: 14px;
  align-items: self-start;
  overflow: scroll;
}
/* Customize the scrollbar */
.messages-container::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}
.para-about::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

.messages-container::-webkit-scrollbar-thumb {
  background-color: rgb(67, 104, 67);
}
.para-about::-webkit-scrollbar-thumb {
  background-color: rgb(67, 104, 67);
}

.messages-container::-webkit-scrollbar-track {
  background-color: var(--background-rgb);
}
.para-about::-webkit-scrollbar-track {
  background-color: var(--background-rgb);
}

.messages-container-inner {
  display: flex;
  width: 495px;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
 
  margin-bottom: 12px;
}

.container-messages-general h3 {
  padding: 4px;
  margin: 4px;
  height: 25px;
}

.username-para {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  font-weight: 700;
  color: #080808;
}
.message-para {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  font-weight: 700;
  color: #080808;
}
.date-para {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  font-weight: 700;
  color: #080808;
  border-bottom: rgb(118, 155, 118) solid 1px;
  padding-bottom: 16px;
  
}
.message_link {
  text-decoration: none;

}
li {
list-style: none;
}

.next_prev_messages_container {
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 30px;

  margin-bottom: 0;
}

.next_message, .prev_message{
  margin: 0;
  padding: 0;

}
.next_message{
 position: relative; 
 
 
}
.prev_message{
  position: relative;


}
.message_h1 {
  font-size: 1.6rem;
}
.back_to_message {
  text-decoration: none;
  position: relative;
  top:120px;
  font-size: 1.2rem;
}



.short_link_new_old_messages {
  display: none;
}
.long_link_new_old_messages {
  display: block;
}

.button-search-span, .header__logo_poems {
  display: block;
}

/* Media query for small screens */

/* 
 */
 /* 
  */

@media only screen and (max-width: 768px) {
 .main {
  background-image: url("/img/monitor_cellphone.png");
  width: 415px;
 }
.main-overlay {
  width:240px;
}
.container-messages-general {
  width:240px;
 

}
.messages-container{
  height: 230px;
}
.user-message-container {
  width:240px; 
  
}

.user-message-container input {
  width:230px; 
  
}
.messages-container-inner {

width:95%;
}
.user-message-button-container {

  width: 220px;
  display: flex;
  flex-direction: column;

}

.next_prev_messages_container {
  width:210px;
  margin-bottom: 25px;
}
.user-message-container {
  width:220px;

}

.short_link_new_old_messages {
  display: block;
}
.long_link_new_old_messages {
  display: none;
}
.user-message-container-btn {
  width:220px;
  display: flex;
  justify-content: center;
}
body {
  width:98%;
};


.button-search-span, .header__logo_poems {
  display: none;
}

}